.userList:hover { 
  background-color: rgb(245, 241, 241);
}
.userList {
  padding-left: 5%;
  padding-right: 5%;
  height: 60px;
  display: flex;
  align-items: center;
}

.error {
    color: white;
    background-color: red;
  }